* text=auto

# add languages detection
*.sql text eol=lf
*.sql linguist-language=SQL
*.scss text eol=lf
*.scss linguist-language=SCSS
*.html text eol=lf
*.html linguist-language=HTML

# binaries detection
*.jpg binary
*.png binary
*.gif binary
*.pdf binary
*.zip binary

# compiled 
dist/** linguist-generated=true

# merge fixing
package-lock.json merge=ours
Cargo.lock merge=ours

# git lfs
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text

# cleaning export archive code
.gitignore export-ignore
.gitattributes export-ignore
/tests/ export-ignore
.github/ export-ignore

